body {
    background-color: white;
}

h1 {
    color: black;
    margin-left: 20px;
  font-size: 16px;
}

p {
  color: black;
  margin-left: 20px;
  font-size: 12px;
}

ul {
  color: black;
  margin-left: 20px;
  font-size: 12px;
}
